

<div class="main home"> 
  <div class="jumbotron"> 
    <div class="container"> 
      <h2>Hello. My name is <span class="highlight">Matt Andy</span> and I have creative ideas and build websites</h2> 
      <%= link_to "View My Work.", "/portfolio" %>
    </div> 
  </div> 
</div>

